body {
  font-family: FuturaBold;
  margin: 0;
  padding: 0;
  justify-content: center;
}
header {
  background-color: #00aa69;
  margin-top: -21px;
}
.h1 {
  color: #fdfdfd;
  height: 50px;
  padding: 0px;
}
.btn {
  margin-top: 100px;
  margin-bottom: 30px;
  background-color: rebeccapurple;
  border-radius: 5px;
  border-style: hidden;
  width: 150px;
  height: 50px;
  color: #efff;
  font-size: 14px;
  cursor: pointer;
}
.fundo {
  background-color: #fefefe;
  pointer-events: none;
}
.numeros {
  height: 25px;
  width: 25px;
  background-color: #adc0c4;
  border-radius: 50%;
  display: inline-block;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
}
@font-face {
  font-family: FuturaBold;
  src: url(FuturaBold.ttf);
}
